#space-ship{
	position: absolute;
	top:50%;
	left:650px;
}

.bullet{
	top:50%;
	left:0px;
	position: absolute;
}

.alien{
	top:0px;
	left:0px;
	position: absolute;	
}

#place{
	top:0px;
	right:0px;
	position: absolute;
}

#alien79{
	color: red;
}